{% extends "base.html" %}

{% block main %}
<body>
    
    <main class="container">
        <h1> My Bookings </h1>
        {% for booking in bookings %}
        <form hx-post="/cancel">
            <fieldset role="group">
                <input type="hidden" name="booking_id" value="{{ booking[0] }}">
              <input
              disabled
                type="email"
                name={{booking[0]}}
                placeholder="Booking with {{booking[2]}}"
                autocomplete="email"
              />
              <input type="submit" value="cancel" />
            </fieldset>
          </form>
          {% endfor %}
      
    </main>
</body>
{% endblock %}