{% extends "base.html" %}

{% block main %}
<body>
    <main class="container">
        <h1>Create Event Package</h1>
        
        <form method="POST">
            <fieldset>
                <legend>Event Details</legend>
                
                <div class="grid">
                    <label>
                        Event Name
                        <input type="text" name="event_name" required>
                    </label>
                    
                    <label>
                        Date & Time
                        <input type="datetime-local" name="event_date" required>
                    </label>
                </div>
                
                <div class="grid">
                    <label>
                        Location
                        <input type="text" name="location" required>
                    </label>
                    
                    <label>
                        Makeup Artist
                        <input type="text" name="artist_name" required>
                    </label>
                </div>
                
                <button type="submit">Create Package</button>
            </fieldset>
        </form>
    </main>
</body>
{% endblock %}