{% extends "base.html" %}

{% block main %}
  <body>
    <main class="container">
      <h1>Edit Event</h1>
      <form method="POST">
        <label>
          Event Name:
          <input type="text" name="event_name" value="{{ event.name }}" required>
        </label>
        <label>
          Date & Time:
          <input type="datetime-local" name="event_date" value="{{ event.date }}" required>
        </label>
        <label>
          Location:
          <input type="text" name="location" value="{{ event.location }}" required>
        </label>
        <label>
          Makeup Artist:
          <input type="text" name="artist_name" value="{{ event.artist }}" required>
        </label>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </main>
  </body>
{% endblock %}