{% extends "base.html" %}

{% block main %}
  <body>
    <main class="container">
      <h1>Edit Event</h1>

      <!-- Form to edit the event -->
      <form method="POST">
        <input type="text" name="makeup_artist_name" placeholder="Makeup Artist Name" value="{{ event.makeup_artist_name }}" required>
        <input type="text" name="location" placeholder="Location" value="{{ event.location }}" required>
        <input type="datetime-local" name="event_date_time" value="{{ event.date.strftime('%Y-%m-%dT%H:%M') }}" required>
        <input type="text" name="event_name" placeholder="Event Name" value="{{ event.name }}" required>
        <button type="submit">Save Changes</button>
      </form>
    </main>
  </body>
{% endblock %}
