{% extends "base.html" %}

{% block main %}
  <body>
    <main class="container">
      <h1>Your Upcoming Events</h1>
      <div class="events">
        {% for event in events %}
        <div class="event card" id="event_{{ event.id }}">
          <div class="card-body">
            <div class="event_title">
              <h5 class="card-title">{{ event.name }}</h5>
            </div>
            <div class="event_description">
              <p class="card-text">
                <strong>Date:</strong> {{ event.date }}<br>
                <strong>Location:</strong> {{ event.location }}<br>
                <strong>Makeup Artist:</strong> {{ event.artist }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
{% endblock %}