<nav id="header">
  <ul>
      <li><strong>Glam Lock J.A</strong></li>
  </ul>
  <ul>
      {% if 'user_id' not in session %}
          <!-- Show these links when the user is not logged in -->
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
      {% else %}
          <!-- Show these links when the user is logged in -->
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% if session['role'] == 'client' %}
              <!-- Links for clients -->
              <li><a href="{{ url_for('hello') }}">Booking</a></li>
              <li><a href="{{ url_for('product') }}">Product</a></li>
              <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
              <li><a href="{{ url_for('events') }}">Events</a></li>
          {% elif session['role'] == 'admin' %}
              <!-- Links for admins -->
              <li><a href="{{ url_for('clients') }}">Manage Clients</a></li>
              <li><a href="{{ url_for('create_event') }}">Create Event</a></li>
              <li><a href="{{ url_for('feedback_summary') }}">Feedback Summary</a></li>
          {% endif %}
      {% endif %}
  </ul>
</nav>