<nav id="header">
    <ul>
      <li><strong>Glam Lock J.A</strong></li>
    </ul>
    <ul>
    <li> <a hx-get="/login" hx-push-url="true" hx-target="body"> Login </li>
      <li><a hx-get="/booking" hx-push-url="true" hx-target="body">Booking</a></li>
      <li><a hx-get="/bookings" hx-push-url="true" hx-target="body">My Dashboard</a></li>
      <li><a hx-get="/portfolio" hx-push-url="true" hx-target="body">Portfolio</a></li>
      <li><a hx-get="/product" hx-push-url="true" hx-target="body">Product</a></li>
      <li><a hx-get="/events" hx-push-url="true" hx-target="body">Event</a></li>
      <li><a hx-get="/feedback" hx-push-url="true" hx-target="body">Feedback</a></li>
      <li><a hx-get="/feedback_summary" hx-push-url="true" hx-target="body">Summary</a></li>
      <li><a hx-get="/create_event" hx-push-url="true" hx-target="body">Create Event</a></li>
    </ul>
  </nav>