{% extends "base.html" %}

{% block main %}
  <body>
    <main class="container">

      <p> Please enter your email and password in order to login </p>
      <h3>Login</h3>
      <form>
        <fieldset class="grid">
          <input 
            name="login"
            placeholder="Login"
            aria-label="Login"
            autocomplete="username"
            required
            
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            aria-label="Password"
            autocomplete="current-password"
            required
          />
          <input
            type="submit"
            value="Log in"
          />
        </fieldset>
      </form>
      <h2> This works {{name}}</h2>
      <p> Sign in instead </p>

    </main>
  </body>
{% endblock %}